$primary-color: #333;
$secondary-color: rgb(15, 237, 15);
$hover-color: #ed7e0f;
$background-gradient: linear-gradient(to bottom right, #333, rgba(0, 71, 0, 0.01));
$border-color: grey;
$text-shadow: 2px 2px 4px #000000;
$fade-in-animation: fade-in 1s forwards;
$primary-font: "Inconsolata", monospace;
$secondary-font: "Open Sans", sans-serif;
$secondary-font-size: 1.3em;
$secondary-font-variant: small-caps;
$common-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$navbar-width: 120px;