/* Importing the Google Fonts and Icons first */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.material-icons {
  vertical-align: middle;
}

body {
  display: flex; /* Use flex layout for the body */
  font-family: "Ubuntu", sans-serif;
  flex-direction: column; /* Arrange the flex items in a column */
  min-height: 100vh; /* Set the minimum height to the viewport height */
  background-image: url("../images/alppi.jpg");
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-attachment: fixed; /* Keep the background image fixed */
  background-size: cover; /* Scale the background image to cover the whole area */
  scroll-margin-top: 200px; /* Add some margin to the top of the scrollable area */
  scroll-padding-top: 200px; /* Add some padding to the top of the scrollable area */
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

.header {
  position: fixed; /* Fix the header position */
  top: 50%; /* Center the header vertically */
  left: 50%; /* Center the header horizontally */
  transform: translate(-50%, -75%); /* Adjust the header position */
  width: 100%;
  background-color: #f8f9fa;
  padding: 5px 5px;
  text-align: center; /* Align the header text to the center */
  transition: all 0.4s ease; /* Add a transition effect to the header */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(1, 92, 171, 0.9)
  ); /* Use a gradient background for the header */
  z-index: 1; /* Ensure the header is above the content */
}

.header h1 {
  font-size: 3em;
  color: rgba(21, 157, 221, 0.9);
  transition: all 0.5s ease;
}

.links-box {
  display: flex; /* Use flex layout for the links box */
  font-size: 1.5em;
  justify-content: center; /* Center the links box items */
  list-style: none; /* Remove the list style */
  transition: all 0.5s ease; /* Add a transition effect to the links box */
  padding: 10px;
  border-radius: 5px;
  background-color: transparent; /* Make the links box background transparent */
  overflow-x: auto; /* Enable horizontal scrolling in the links box, in case of very very small screen */
  white-space: nowrap; /* Prevent line breaks in the links box */
}

.links-box > a {
  display: inline-block; /* Display the links as inline-block elements */
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 20px 0 20px;
  color: rgb(0, 0, 0); /* Set the text color of the links to black */
  font-family: "Courier New", Courier, monospace; /* Use a monospace font for the links */
  font-weight: bolder;
  text-decoration: none; /* Remove the underline from the links */
  border-radius: 5px;
  transition: all 0.5s ease; /* Add a transition effect to all properties of the links */
}

.links-box > a:hover {
  box-shadow: 0 0 20px rgba(33, 33, 33, 0.9); /* Add a shadow effect on hover */
}

.page {
  position: relative; /* Set the position of the page relative to its normal position */
  top: 200px; /* Move the page down by 200px */
  width: 100%; /* Set the page width to the full width */
  scroll-padding-top: auto; /* Set the scroll padding to the default value */
  margin: auto 1%; /* Center the page horizontally and add a 1% margin on the sides */
}

/* Sections are hidden by default, and javascript changes the display property to block when clicking corresponding link */
.section {
  display: none; /* Hide the section by default */
  overflow: hidden; /* Hide the overflow content */
  transition: max-height 0.5s ease-in-out; /* Add a transition effect to the max-height property */
}

h2 {
  font-size: 1.2em;
  color: rgb(28, 28, 28);
  margin: 10px 5px;
}

h3 {
  font-size: 1em;
  font-weight: normal;
  color: rgb(28, 28, 28);
  margin: 10px 5px;
}

li {
  font-size: 1.2em;
  color: black;
  list-style: circle;
}

.content {
  display: flex; /* Use flex layout for the content */
  flex-direction: column; /* Arrange the flex items in a column */
  align-items: center; /* Center the flex items horizontally */
  justify-content: center; /* Center the flex items vertically */
  max-height: fit-content; /* Set the maximum height to the content height */
  opacity: 0; /* Make the content transparent by default */
  background-color: transparent; /* Make the content background transparent */
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box; /* Include padding and border in the content's total width and height */
  max-width: 80%; /* Limit the content width to 80% of the parent width */
  margin: 0 auto; /* Center the content horizontally and add no margin on the top and bottom */
}

footer {
  box-sizing: border-box; /* Include padding and border in the footer's total width and height */
  background-color: rgba(
    0,
    0,
    0,
    0.2
  ); /* Set the footer background color to a semi-transparent black */
  color: white;
  font-weight: bolder;
  font-size: 1.2em;
  text-align: center; /* Align the footer text to the center */
  padding: 0 15px 0 15px;
  display: inline-block; /* Display the footer as an inline block */
  position: fixed; /* Fix the footer position */
  bottom: 0.4%; /* Position the footer at the bottom of the viewport */
  left: 50%; /* Center the footer horizontally */
  transform: translateX(-50%); /* Adjust for the width of the footer */
  transition: all; /* Add a transition effect to all properties */
}

/* Javascript makes the header .sticky after clicking initially */
.sticky {
  position: fixed; /* Fix the position */
  top: 0; /* Position at the top of the viewport */
  left: 0; /* Position at the left of the viewport */
  transform: translate(0, 0); /* Do not move the position */
  width: 100%; /* Set the width to the full width */
  font-size: 1em; /* Set the font size */
}
/* Javascript makes the header H1 and links-box .smaller after clicking initially */
.smaller {
  font-size: 1.3em;
}

.smaller h1 {
  font-size: 1.5em;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
  gap: 10px; /* 10px gap between grid items */
  justify-content: space-around; /* Space around the grid items */
}

.portfolio-box {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center; /* Center-align text */
  padding: 20px;
  text-decoration: none; /* Remove default link underline */
  color: #363434; /* Dark text color */
  transition: box-shadow 0.3s ease; /* Smooth transition for box shadow */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Subtle box shadow */
}

.portfolio-box:hover {
  transition: box-shadow 0.3s ease; /* Smooth transition for box shadow on hover */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Slight box shadow on hover */
  background-color: rgba(
    21,
    157,
    221,
    0.3
  ); /* Semi-transparent blue background on hover */
}

.portfolio-box h2 {
  font-family: "Roboto Mono", monospace; /* Font family for heading */
  margin: 1em 0 0.5em; /* Margin for top spacing */
}

.portfolio-box p {
  margin: 0.5em 0;
}

.experience-card {
  display: flex; /* Display as a flex container */
  align-items: center; /* Center-align items vertically */
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 1px; /* Minimal padding inside the card */
  margin: 10px; /* Margin around the card */
  width: 60%; /* Set width to 60% of the container */
  transition: all 0.3s ease; /* Smooth transition for all properties */
}

.experience-card img {
  width: auto;
  height: 60px; /* Fixed height for the image */
  margin: 0 30px 55px 20px; /* Margin for spacing around the image */
  padding: 5px 0px; /* Padding for additional spacing */
}

.experience-card div {
  display: flex; /* Display as a flex container */
  flex-direction: column; /* Arrange items in a column */
  justify-content: center; /* Center-align items vertically */
}

.experience-card h3,
.experience-card p {
  display: block; /* Display as block elements */
  padding: 10px; /* Padding around heading and paragraphs */
  color: black;
}

.experience-card:hover {
  box-shadow: 0 0 20px rgba(33, 33, 33, 0.9); /* Enhanced box shadow on hover */
}

@media screen and (max-width: 720px) {
  .header {
    padding: 2px 2px; /* Reduce padding for smaller screens */
    width: 100%;
  }
  .header h1 {
    font-size: 1em; /* Smaller font size for smaller screens */
    color: rgba(21, 157, 221, 0.9);
    transition: all 0.5s ease;
  }
  h2 {
    font-size: 1em; /* Smaller font size for smaller screens */
    color: rgb(28, 28, 28);
    margin: 10px 5px;
  }

  .links-box > a {
    display: inline-block;
    padding: 2px 2px; /* Reduce padding for smaller screens */
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 5px 0 5px;
    color: rgb(0, 0, 0);
    font-family: "Courier New", Courier, monospace;
    font-size: 1em; /* Smaller font size for smaller screens */
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.5s ease;
  }
  li {
    font-size: 0.8em;
  }
  .page {
    position: relative;
    top: 100px; /* Reduce top position for smaller screens */
    width: 100%;
    scroll-padding-top: auto;
    margin: auto 1%;
  }
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
  }

  .smaller {
    font-size: 1.3em;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    padding: 2px;
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 75%; /* Reduce max width for smaller screens */
    margin: 5% auto 15% auto;
  }

  footer {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bolder;
    font-size: 1em; /* Smaller font size for smaller screens */
    text-align: center;
    padding: 1px;
    display: inline-block;
    position: fixed;
    bottom: 0%;
  }

  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Single column layout for smaller screens */
    gap: 10px;
    justify-content: space-around;
  }

  .portfolio-box {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: #363434;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .experience-card {
    display: flex;
    flex-direction: row; /* Arrange items from left to right */
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 2px;
    margin: 10px;
    width: 100%; /* Full width on smaller screens */
    transition: all 0.3s ease;
  }

  .experience-card h3,
  .experience-card p {
    font-size: 0.9em; /* Smaller font size for smaller screens */
  }
}

@media screen and (max-height: 800px) {
  footer {
    display: none; /* Hide footer on screens with small height */
  }
}
